<!-- {% extends 'portfolio/base.html' %}
{% load static %}

{% block about %}
	<div class="container" id="aboutPage">
		<div class="col s12">
			<br><br>
			<h4 class="center-align" >About Me</h4>
			<br>
			<div class="row valign-wrapper">
				<div class="col s3">
					<img src="{% static 'portfolio/images/hubby.jpg' %}" alt="Me" class="circle responsive-img materialboxed">
				</div>
				<div class="col s9">
					<p>
					I am a Geospatial Analyst with over three years of experience, proficient with advanced GIS suite of tools and database management systems i'm also a Web Applications Developer with expertise in creating and designing user interfaces, developing back-end functionalities, testing and debugging and also optimizing web functionality that improve data retrival and workflow efficiencies.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock about %} -->




















<!-- 		<h1> Hi, I`m James</h1>

		<p>
			A self-motivated Geospatial Engineer and Web Developer with over three years’ experience. I have a passion for GIS and IT and its application in a variety of fields. I am proficient with advanced GIS suite of tools and database management systems and also strong knowledge in building models, basic R scripting language, AutoCAD and GIS related software.
		</p>

		<p>
			I have developed my skill set extending my academic qualifications by gaining knowledge in languages such as SQL, HTML5, CSS3, Python and JavaScript as well as with Linux operating systems. 
		</p>

		<p>
			While at ESRI Eastern Africa one of my achievements was successfully configuring a data collection mobile application that was used to report cases of Armyworm infestation in a plantation.
		</p>

		<p>
			In my career I gained great experience as a GIS and Remote sensing assistant in Regional Center for Mapping of Resources for Development where I gained a strong background in satellite imagery interpretation and extraction of meaningful information from both low and high-resolution images.This influenced my decision to do an undergraduate project in geothermal exploration using Landsat thermal bands.
		</p>
		<p>
			In my experience as an Assistant Cartographer in Geosurv Systems Limited I excelled in using AutoCAD software to an extent where I was promoted taking on the responsibility of training interns in the use and application of AutoCAD in land surveying.
		</p>
		<p>
			I strive continuously to learn new technologies, skills and software platforms/extensions as my passion for GIS makes learning easy and with minimal oversight. As part of my diligence to excellence I possess excellent organizational skills and work ethics.
		</p>
	</div>