<!-- <div class="container section scrollspy" id="aboutPage">
	<h4 class="amber-text text-accent-2 center-align" >About Me</h4>
	<div class="col s12">
		<div class="row valign-wrapper">
			<div class="col s3 hide-on-small-only">
				<img src="{% static 'portfolio/images/ngetha.jpg' %}" alt="Me" class="circle responsive-img">
			</div>
			<div class="col s10 m7">
				<p>
				I am a Geospatial Engineer with over four years of experience, proficient with advanced GIS suite of tools and database management systems, i'm also a Web Applications Developer with expertise in creating and designing user interfaces, developing back-end functionalities, testing and debugging and also optimizing web functionality that improve workflow efficiencies.
				</p>
			</div>
		</div>
	</div>
</div> -->