<!-- {% extends 'portfolio/base.html' %}
{% load static %}

{% block header %}
	{% block apps %}
	<table class="container">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
  
        <tbody>
            <tr>
                <td>1</td>
                <td>www.bonanzaautogarage.co.ke</td>
                <td>An auto shop website</td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td>7</td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td>9</td>
            </tr>
        </tbody>
    </table>
	{% endblock apps %}
{% endblock header %} -->