{% load static %}
{% load materializecss %}

<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/x-icon" href="{% static 'portfolio/images/favicon.ico' %}">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/main.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>James Ngetha</title>
</head>

<body>

	<div class="navbar-fixed">
		<nav class="grey darken-4">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Ngetha</a>
				<a href="#mobile-links" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/">Home</a></li>
					<li><a href="#aboutPage">About Me</a></li>
					<li><a href="#experience">Resume</a></li>
					<li><a href="#apps">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="https://www.linkedin.com/in/James-Ngetha" target="_blank" class="tooltipped btn-floating btn-small blue accent-2" data-tooltip="LinkedIn">
						<i class="social fab fa-linkedin"></i>
					</a></li>
					<li><a href="https://github.com/NgethaWachira" target="_blank" class="tooltipped btn-floating btn-small grey darken-1" data-tooltip="GitHub">
						<i class="fab fa-github"></i>
					</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<ul class="sidenav" id="mobile-links">
		<li><a href="/">Home</a></li>
		<li><a href="#aboutPage">About Me</a></li>
		<li><a href="#experience">Resume</a></li>
		<li><a href="#apps">Portfolio</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>

		<div id="header">
			<img src="{% static 'portfolio/images/spike.jpg' %}" alt="Behind The Scenes" class="responsive-img">
			{% block header %}
				<div id="myText">
					<h4>My name is</h4>
					<h1>James Ngetha</h1>
					<h5 class="amber-text text-accent-2">A Geospatial Engineer and Web Applications Developer</h5>
				</div>
			{% endblock header %}
		</div>
	
	{% block content %}

	{% endblock %}


	<div class="section center-align" id="footer">
		<div class="container">
			<a class="white-text"> Developed and Designed by James Ngetha</a>
		</div>
	</div>


	{% if messages %}
		<script>
		{% for message in messages %}
				alert("{{ message }}");
		{% endfor %}
		</script>
	{% endif %}


	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script type="text/javascript" src="{% static 'portfolio/js/main.js' %}"></script>

</body>
</html>