<!-- {% extends 'portfolio/base.html' %}
{% load static %}

{% block experience %}
	<div class="section" id="experience">
		<div class="col s12"><h4 class="center-align">Work Experience</h4></div>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col s12 l5" id="experience-1">
					<h5 class="center-align amber-text amber-accent-2">Nature Surf Systems</h5>
					<h6 class="center-align amber-text amber-accent-3">Geospatial Engineer | Web Applications Developer</h6>
					<p> Building websites from concept all the way to completion, fashioning everything from the home page to site layout and function. I strive to create visually appealing sites that feature user-friendly design and clear navigation according to clients needs and specification.</p>
				</div>
				<div class="col s12 l5 right" id="experience-2">
					<h5 class="center-align amber-text amber-accent-2">Ramani Geosystems</h5>
					<h6 class="center-align amber-text amber-accent-3">2D/3D Mapping Technician</h6>
					<p>I Used computer programs and software packages to prepare graphic reports, maps, and charts. I also analyzed data sets for daily decision-making procedures, Created, developed, and maintain databases. Used  maps and data sets for spatial analysis.</p>
				</div>
				<div class="col s12 l5" id="experience-3">
					<h5 class="center-align amber-text amber-accent-2">ESRI Eastern Africa</h5>
					<h6 class="center-align amber-text amber-accent-3">Technical Support</h6>
					<p>Worked with ArcGIS products e.g. ArcMap, ArcPro, ArcGIS online and ArcGIS server. Published data online through sharing it as a map package or layer package using ArcGIS and also sharing content online. Data collection using various applications e.g. Collector for ArcGIS and ODK.</p>
				</div>
				<div class="col s12 l5 right" id="experience-4">
					<h5 class="center-align amber-text amber-accent-2">RCMRD</h5>
					<h6 class="center-align amber-text amber-accent-3">GIS Assistant</h6>
					<p> Conducting image search and generating image reports from Digital Globe and Airbus Defense and Space (ADS) high-resolution image service providers on request by clients. Acquisition, processing and disseminating raster and vector datasets for internal and external users. Design, preparation and production of maps through vectorization of satellite images for commercial purposes and according to client needs</p>
				</div>
				<div class="col s12 l5" id="experience-5">
					<h5 class="center-align amber-text amber-accent-2">Geosurv Systems Limited</h5>
					<h6 class="center-align amber-text amber-accent-3">Cartography Assistant</h6>
					<p>Planning of proposed subdivision of land parcels into a given number of portions according to client preferences and design. Carrying out of topographical survey of land by use of a total station and later planning of the same.</p>
				</div>
				<div class="col s12 l5 right" id="experience-6">
					<h5 class="center-align amber-text amber-accent-2">Geodev Limited</h5>
					<h6 class="center-align amber-text amber-accent-3">GIS and RS Intern</h6>
					<p>Digitization of aerial photographs of Mombasa and Malindi County. Ground truthing of Mombasa and Malindi County. Generation of spot heights from overlaying aerial photographs. Large scale production of maps of Mombasa and Malindi County</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="tools">
		<div class="container">
			<h4 class="center-align">
			Languages and Tools
			</h4>
			<br>
			<div class="row">
				<div class="carousel">
					<div class="col s2">
						<a class="carousel-item"><img src="{% static 'portfolio/images/postgre.jpg' %}">
					</div>
					<div class="col s2">
						<a class="carousel-item"><img src="{% static 'portfolio/images/django.jpg' %}">
					</div>
					<div class="col s2">
						<a class="carousel-item"><img src="{% static 'portfolio/images/postgre.jpg' %}">
					</div>
					<div class="col s2">
						<a class="carousel-item"><img src="{% static 'portfolio/images/python.jpg' %}">
					</div>
					<div class="col s2">
						<a class="carousel-item"><img src="{% static 'portfolio/images/postgre.jpg' %}">
					</div>
					<div class="col s2">
						<a class="carousel-item"><img src="{% static 'portfolio/images/django.jpg' %}">
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock experience %} -->