.brand-logo {
	font font-family: Kaushan Script;
	margin-left: 10%;
}

body {
	background-color: black;
	color: white;
}

#header {
	position: relative;
	height: 90vh;
	background-color: #cccccc;
	background-position: center;
	background-attachment: fixed;
}

#header img {
	width: 100%;
	max-height: 100%;
	position: absolute;
}

#header #myText {
	position: absolute;
	color: white;
	text-align: center;
	width: auto;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 25%;
}

#aboutPage p {
	line-height: 28px;
	font-size: 16px;
}

#education .row {
	margin-top: 3.5%;
}

#education .training {
	margin-top: 4%;
}

#education .training a {
	text-decoration: none;
	color: #ffe0b2;
}

.apps {
	background-color: white;
	background-image: url("{% static 'portfolio/images/wall.jpg' %}");
	color: black;
}

@media only screen and (min-width: 720px){
	#experience-1 {
		font-size: 16px;
	}

	#experience-2 {
		margin-top: 30vh;
		font-size: 16px;
	}

	#experience-3 {
		margin-top: 30vh;
		font-size: 16px;
	}

	#experience-4 {
		margin-top: 30vh;
		font-size: 16px;
	}

	#experience-5 {
		margin-top: 40vh;
		font-size: 16px;
	}

	#experience-6 {
		margin-top: 30vh;
		font-size: 16px;
	}
}

@media only screen and (min-width: 480px){
	#footer {
		float: none;
		align-content: center;
		padding: 10px;
	}
}
