.brand-logo {
	font font-family: Kaushan Script;
	margin-left: 10%;
}

body {
	background-color: black;
	color: white;
}

#mobile-links {
	width: 150px;
}

#header {
	position: relative;
	height: 90vh;
	background-color: #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#header img {
	width: 100%;
	max-height: 100%;
	position: absolute;
}

#header #myText {
	position: absolute;
	color: white;
	text-align: center;
	width: auto;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 25%;
}

#aboutPage p {
	line-height: 28px;
	font-size: 16px;
}

#education .row {
	margin-top: 3.5%;
}

#education .training {
	margin-top: 4%;
}

#education .training a {
	text-decoration: none;
	color: #ffe0b2;
}

.carousel {
	padding: 0;
	margin: 0;
}

#apps .card {
	justify-content: center;
	align-items: center;
	background-color: black;
	border-top: 10px solid #F0E68C;
	border-bottom: 5px solid gray;
	border-radius: 10px;


@media only screen and (min-width: 720px){
	#experience-1 {
		font-size: 16px;
	}

	#experience-2 {
		margin-top: 30vh;
		font-size: 16px;
	}

	#experience-3 {
		margin-top: 30vh;
		font-size: 16px;
	}

	#experience-4 {
		margin-top: 30vh;
		font-size: 16px;
	}

	#experience-5 {
		margin-top: 40vh;
		font-size: 16px;
	}

	#experience-6 {
		margin-top: 30vh;
		font-size: 16px;
	}
}

@media only screen and (min-width: 480px){
	#footer {
		float: none;
		align-content: center;
		padding: 10px;
	}
}
